// Base Style Sheets for the Apps.  

// Commonly used in all projects should be a core element added to every css page top
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  box-sizing: inherit;
}

html, body {
  font-family: "Helvetica Neue", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  color: #292f33;
  line-height: 1.5;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 1.6rem;
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .125rem;
}