<ul class="">
  <li class="">
    <%= button_tag('ID Number', { data: { action: "form-builder#add"}}) %>
    <template data-target='form-builder.idnoTemplate'> 
      <%= form.fields_for :fields, IdnoField.new, child_index: 'NEW_RECORD' do |form| %>
        <%= render 'components/form_builder/fields/idno_field', f: form %>
      <% end %>
    </template>
  
  </li>
  <li class=""><a href="#">Single Line Text</a></li>
  <li class=""><a href="#">Paragraph Text</a></li>
  <li class=""><a href="#">Radio</a></li>
  <li class=""><a href="#">Checkboxes</a></li>
  <li class=""><a href="#">Number</a></li>
  <li class=""><a href="#">Email</a></li>
  <li class=""><a href="#">Phone</a></li>
  <li class=""><a href="#">Dropdown</a></li>
  <li class=""><a href="#">Multi-Select</a></li>
  <li class=""><a href="#">File Upload</a></li>
  <li class=""><a href="#">WYSIWYG</a></li>
  <li class=""><a href="#">Date</a></li>
  <li class=""><a href="#">Time</a></li>
  <li class=""><a href="#">Website</a></li>
  <li class=""><a href="#">Field Set</a></li>
</ul>

