<ul class="">
  <li class="">
    <!-- data attributes are used to hook into JS events -->
    <a href="#" data-action="click->form-builder#newField"
                data-type="idno"
                data-template="idnoTemplate" 
                data-json='{
                  "name": "idno",
                  "position": "",
                  "type": "idno",
                  "label": "Identifier",
                  "value": "",
                  "placeholder": "",
                  "id": "idno",
                  "class": "",
                  "style": "",
                  "required": "true",
                  "duplicates": "true",
                  "readonly": "false",
                  "disabled": "false",
                  "disabledInsert": "false",
                  "disabledUpdate": "false",
                  "publicRelease": "true",
                  "oaiRelease": "true",
                  "sortable": "true",
                  "searchable": "true",
                  "displayTable": "true",
                  "hidden": "",
                  "validation": "",
                  "validationRegex": "",
                  "metadataStandard": [],
                  "helpType": "",
                  "help": "",
                  "managedBy": "user",
                  "idnoFormat": "sample_###",
                  "startIncrement": "1"
                  }'
    > 
      IDNO 
    </a>
  </li>
  <li class="">
    <!-- data attributes are used to hook into JS events -->
    <a href="#" data-action="click->form-builder#newField" 
                data-fieldtype="textTemplate" > 
      Single Line Text
    </a>
  </li>
  <li class="">
    <!-- data attributes are used to hook into JS events -->
    <a href="#" data-action="click->form-builder#newField" 
                data-fieldtype="textareaTemplate" > 
     Paragraph Text 
    </a>
  </li>
  <li class=""><a href="#">Radio</a></li>
  <li class=""><a href="#">Checkboxes</a></li>
  <li class=""><a href="#">Number</a></li>
  <li class=""><a href="#">Email</a></li>
  <li class=""><a href="#">Phone</a></li>
  <li class=""><a href="#">Dropdown</a></li>
  <li class=""><a href="#">Multi-Select</a></li>
  <li class=""><a href="#">File Upload</a></li>
  <li class=""><a href="#">WYSIWYG</a></li>
  <li class=""><a href="#">Date</a></li>
  <li class=""><a href="#">Time</a></li>
  <li class=""><a href="#">Website</a></li>
  <li class=""><a href="#">Field Set</a></li>
</ul>

<!-- New Field Templates -->
 <%= render 'components/form_builder/templates/idno_template' %>