<ul class="draggable">
  <li class="ui-draggable"><a href="#">ID Number</a></li>
  <li class="ui-draggable"><a href="#">Single Line Text</a></li>
  <li class="ui-draggable"><a href="#">Paragraph Text</a></li>
  <li class="ui-draggable"><a href="#">Radio</a></li>
  <li class="ui-draggable"><a href="#">Checkboxes</a></li>
  <li class="ui-draggable"><a href="#">Number</a></li>
  <li class="ui-draggable"><a href="#">Email</a></li>
  <li class="ui-draggable"><a href="#">Phone</a></li>
  <li class="ui-draggable"><a href="#">Dropdown</a></li>
  <li class="ui-draggable"><a href="#">Multi-Select</a></li>
  <li class="ui-draggable"><a href="#">File Upload</a></li>
  <li class="ui-draggable"><a href="#">WYSIWYG</a></li>
  <li class="ui-draggable"><a href="#">Date</a></li>
  <li class="ui-draggable"><a href="#">Time</a></li>
  <li class="ui-draggable"><a href="#">Website</a></li>
  <li class="ui-draggable"><a href="#">Field Set</a></li>
</ul>

<%# button_tag("Add Dose", {data: { action: "fields-for#add", fields: form.fields_for(:doses, Dose.new, child_index:"new_field"){|dose_form| render("doses/fields", dose_form: dose_form)}}}) %>