<div class="row">
  <div class=" col-6">
    <!-- IDNO FIELD -->
    <!-- ====================================== --> 
    <a href="#" class="add-field-btn col mb-1"  data-action="click->form-builder#newField"
                data-type="idno"
                data-template="idnoTemplate" 
                data-json='{"name": "idno",
                  "position": "",
                  "type": "idno",
                  "label": "Identifier",
                  "value": "",
                  "placeholder": "",
                  "id": "idno",
                  "class": "",
                  "style": "",
                  "required": "true",
                  "duplicates": "true",
                  "read_only": "false",
                  "disabled": "false",
                  "disabled_on_insert": "false",
                  "disabled_on_update": "false",
                  "public_release": "true",
                  "oai_release": "true",
                  "sortable": "true",
                  "searchable": "true",
                  "display_in_list": "true",
                  "hidden": "",
                  "validation": "",
                  "validation_regex": "",
                  "metadata_standards": [],
                  "help_type": "",
                  "help": "",
                  "managed_by": "User",
                  "idno_format": "",
                  "start_increment": "1"
                }'
    > 
      IDNO 
    </a>
  </div>

  <!-- SINGLE LINE TEXT FIELD -->
  <!-- ====================================== --> 
  <div class=" col-6">
    <!-- data attributes are used to hook into JS events -->
    <a href="#" class="add-field-btn col mb-1"  data-action="click->form-builder#newField"
                data-type="text"
                data-template="textTemplate" 
                data-json='{
                  "name": "Untitled",
                  "position": "",
                  "type": "text",
                  "label": "Untitled",
                  "value": "",
                  "placeholder": "Untitled Text",
                  "id": "",
                  "class": "",
                  "style": "",
                  "help_type": "",
                  "required": "false",
                  "duplicates": "false",
                  "readonly": "false",
                  "disabled": "false",
                  "disabled_insert": "false",
                  "disabled_update": "false",
                  "public_release": "false",
                  "oai_release": "",
                  "sortable": "false",
                  "searchable": "false",
                  "display_in_list": "false",
                  "hidden": "",
                  "validation": "",
                  "validation_regex": "",
                  "metadata_standard": ":",
                  "help": "",
                  "min": "",
                  "max": "",
                  "format": "characters"
                }' > 
      Single line Text
    </a>
  </div>

  <div class=" col-6">
    <!-- data attributes are used to hook into JS events -->
    <a href="#" class="add-field-btn col mb-1"          
                data-action="click->form-builder#newField" 
                data-type="textarea"
                data-template="textareaTemplate" 
                data-json='{
                  "name": "Untitled",
                  "position": "",
                  "type": "textarea",
                  "label": "Untitled",
                  "value": "",
                  "placeholder": "Untitled Text",
                  "id": "",
                  "class": "",
                  "style": "",
                  "help_type": "",
                  "required": "false",
                  "duplicates": "false",
                  "readonly": "false",
                  "disabled": "false",
                  "disabled_insert": "false",
                  "disabled_update": "false",
                  "public_release": "false",
                  "oai_release": "",
                  "sortable": "false",
                  "searchable": "false",
                  "display_in_list": "false",
                  "hidden": "",
                  "validation": "",
                  "validation_regex": "",
                  "metadata_standard": ":",
                  "help": "",
                  "min": "",
                  "max": "",
                  "format": "characters"
                }' 
    > 
     Paragraph Text 
    </a>
  </div>

  <div class=" col-6">
    <a href="#" class="add-field-btn col mb-1" 
        data-action="click->form-builder#newField" 
        data-type="number"
        data-template="numberTemplate" 
        data-json='{
          "name": "Untitled",
          "position": "",
          "type": "textarea",
          "label": "Untitled",
          "value": "",
          "placeholder": "Untitled Text",
          "id": "",
          "class": "",
          "style": "",
          "help_type": "",
          "required": "false",
          "duplicates": "false",
          "readonly": "false",
          "disabled": "false",
          "disabledInsert": "false",
          "disabledUpdate": "false",
          "publicRelease": "true",
          "oaiRelease": "",
          "sortable": "",
          "searchable": "",
          "displayTable": "",
          "hidden": "",
          "validation": "integer",
          "validationRegex": "",
          "access": "",
          "fieldset": "",
          "metadataStandard": "",
          "help": "",
          "min": "",
          "max": "",
          "step": "",
          "format": "value"
        }' 
    >
    Number
    </a>
  </div>

  <div class=" col-6">
    <a href="#" class="add-field-btn col mb-1"
        data-action="click->form-builder#newField" 
        data-type="select"
        data-template="selectTemplate" 
        data-json='{
                    "name": "untitled",
                    "position": "",
                    "type": "select",
                    "label": "Untitled Dropdown",
                    "value": "",
                    "placeholder": "",
                    "id": "",
                    "type",
                    "class": "",
                    "style": "",
                    "helpType": "",
                    "required": "false",
                    "duplicates": "false",
                    "readonly": "false",
                    "disabled": "false",
                    "disabledInsert": "false",
                    "disabledUpdate": "false",
                    "publicRelease": "true",
                    "oaiRelease": "",
                    "sortable": "",
                    "searchable": "",
                    "displayTable": "",
                    "hidden": "",
                    "validation": "",
                    "validationRegex": "",
                    "access": "",
                    "fieldset": "",
                    "metadataStandard": "",
                    "help": "",
                    "choicesType": "manual",
                    "choicesNull": "true",
                    "choicesForm": "",
                    "choicesField": "",
                    "choicesFieldDefault": ""
                  },' 
    > Dropdown </a>
  </div>

  <div class=" col-6">
    <a href="#" class="add-field-btn col mb-1" 
      data-action="click->form-builder#newField" 
      data-type="multiselect"
      data-template="multiselectTemplate" 
      data-json='{
                  "name": "untitled",
                  "position": "",
                  "type": "multiselect",
                  "label": "Untitled MultiSelect",
                  "value": "",
                  "placeholder": "",
                  "id": "",
                  "type",
                  "class": "",
                  "style": "",
                  "helpType": "",
                  "required": "false",
                  "duplicates": "false",
                  "readonly": "false",
                  "disabled": "false",
                  "disabledInsert": "false",
                  "disabledUpdate": "false",
                  "publicRelease": "true",
                  "oaiRelease": "",
                  "sortable": "",
                  "searchable": "",
                  "displayTable": "",
                  "hidden": "",
                  "validation": "",
                  "validationRegex": "",
                  "access": "",
                  "fieldset": "",
                  "metadataStandard": "",
                  "help": "",
                  "choicesType": "manual",
                  "choicesNull": "true",
                  "choicesForm": "",
                  "choicesField": "",
                  "choicesFieldDefault": ""
                },'
    >Multi-Select</a>
  </div>

  <div class=" col-6">
    <a href="#" class="add-field-btn col mb-1">
      
    File Upload</a>
  </div>

  <div class=" col-6">
    <a href="#" class="add-field-btn col mb-1" 
                data-action="click->form-builder#newField" 
                data-type="textarea"
                data-template="textareaTemplate" 
                data-json='{
                  "name": "Untitled",
                  "position": "",
                  "type": "textarea",
                  "label": "Untitled",
                  "value": "",
                  "placeholder": "Untitled Text",
                  "id": "",
                  "class": "",
                  "style": "",
                  "help_type": "",
                  "required": "false",
                  "duplicates": "false",
                  "readonly": "false",
                  "disabled": "false",
                  "disabled_insert": "false",
                  "disabled_update": "false",
                  "public_release": "false",
                  "oai_release": "",
                  "sortable": "false",
                  "searchable": "false",
                  "display_in_list": "false",
                  "hidden": "",
                  "validation": "",
                  "validation_regex": "",
                  "metadata_standard": ":",
                  "help": "",
                  "min": "",
                  "max": "",
                  "format": "characters"
                }' 
    >WYSIWYG</a>
  </div>
</div>

<!-- New Field Templates -->
 <%# render 'components/form_builder/templates/idno_template' %>
 <% base_template_path = 'components/form_builder/templates'%>
 <%= render partial: "#{base_template_path}/base_template", locals: { template_path: "#{base_template_path}/idno_template", target_name: 'form-builder.idnoTemplate' } %>

 <%= render partial: "#{base_template_path}/base_template", locals: { template_path: "#{base_template_path}/text_template", target_name: 'form-builder.textTemplate' } %>

  <%= render partial: "#{base_template_path}/base_template", locals: { template_path: "#{base_template_path}/textarea_template", target_name: 'form-builder.textareaTemplate' } %>