<ul class="">
  <li class="">
    <!-- data attributes are used to hook into JS events -->
    <a href="#" data-action="click->form-builder#newField"
                data-type="idno"
                data-template="idnoTemplate" 
                data-json='{"name": "idno",
                  "position": "",
                  "type": "idno",
                  "label": "Identifier",
                  "value": "",
                  "placeholder": "",
                  "id": "idno",
                  "class": "",
                  "style": "",
                  "required": "true",
                  "duplicates": "true",
                  "read_only": "false",
                  "disabled": "false",
                  "disabled_on_insert": "false",
                  "disabled_on_update": "false",
                  "public_release": "true",
                  "oai_release": "true",
                  "sortable": "true",
                  "searchable": "true",
                  "display_in_list": "true",
                  "hidden": "",
                  "validation": "",
                  "validation_regex": "",
                  "metadata_standards": [],
                  "help_type": "",
                  "help": "",
                  "managed_by": "user",
                  "idno_format": "",
                  "start_increment": "1"
                }'
    > 
      IDNO 
    </a>
  </li>
  <li class="">
    <!-- data attributes are used to hook into JS events -->
    <a href="#" data-action="click->form-builder#newField"
                data-type="text"
                data-template="textTemplate" 
                data-json='{
                  "name": "Untitled",
                  "position": "",
                  "type": "text",
                  "label": "Untitled",
                  "value": "",
                  "placeholder": "Untitled Text",
                  "id": "",
                  "class": "",
                  "style": "",
                  "help_type": "",
                  "required": "false",
                  "duplicates": "false",
                  "readonly": "false",
                  "disabled": "false",
                  "disabled_insert": "false",
                  "disabled_update": "false",
                  "public_release": "false",
                  "oai_release": "",
                  "sortable": "false",
                  "searchable": "false",
                  "display_in_list": "false",
                  "hidden": "",
                  "validation": "",
                  "validation_regex": "",
                  "metadata_standard": ":",
                  "help": "",
                  "min": "",
                  "max": "",
                  "format": "characters"
                }' > 
      Single Line Text
    </a>
  </li>
  <li class="">
    <!-- data attributes are used to hook into JS events -->
    <a href="#" data-action="click->form-builder#newField" 
                data-type="textarea"
                data-template="textareaTemplate" 
                data-json='{
                  "name": "Untitled",
                  "position": "",
                  "type": "textarea",
                  "label": "Untitled",
                  "value": "",
                  "placeholder": "Untitled Text",
                  "id": "",
                  "class": "",
                  "style": "",
                  "help_type": "",
                  "required": "false",
                  "duplicates": "false",
                  "readonly": "false",
                  "disabled": "false",
                  "disabled_insert": "false",
                  "disabled_update": "false",
                  "public_release": "false",
                  "oai_release": "",
                  "sortable": "false",
                  "searchable": "false",
                  "display_in_list": "false",
                  "hidden": "",
                  "validation": "",
                  "validation_regex": "",
                  "metadata_standard": ":",
                  "help": "",
                  "min": "",
                  "max": "",
                  "format": "characters"
                }' 
                
    > 
     Paragraph Text 
    </a>
  </li>
  <li class=""><a href="#">Radio</a></li>
  <li class=""><a href="#">Checkboxes</a></li>
  <li class=""><a href="#">Number</a></li>
  <li class=""><a href="#">Email</a></li>
  <li class=""><a href="#">Phone</a></li>
  <li class=""><a href="#">Dropdown</a></li>
  <li class=""><a href="#">Multi-Select</a></li>
  <li class=""><a href="#">File Upload</a></li>
  <li class=""><a href="#">WYSIWYG</a></li>
  <li class=""><a href="#">Date</a></li>
  <li class=""><a href="#">Time</a></li>
  <li class=""><a href="#">Website</a></li>
  <li class=""><a href="#">Field Set</a></li>
</ul>

<!-- New Field Templates -->
 <%# render 'components/form_builder/templates/idno_template' %>
 <% base_template_path = 'components/form_builder/templates'%>
 <%= render partial: "#{base_template_path}/base_template", locals: { template_path: "#{base_template_path}/idno_template", target_name: 'form-builder.idnoTemplate' } %>

 <%= render partial: "#{base_template_path}/base_template", locals: { template_path: "#{base_template_path}/text_template", target_name: 'form-builder.textTemplate' } %>

  <%= render partial: "#{base_template_path}/base_template", locals: { template_path: "#{base_template_path}/textarea_template", target_name: 'form-builder.textareaTemplate' } %>