// .metadata-row { 
//   button { 
//     margin-top:24px; 
//   }
// }

.form-group { 
  padding:2rem;
  border:2px solid blue; 
}

fieldset { 
  legend { width:auto; }
  margin-bottom:1rem; 
}

.fields { 

  .field-preview { 
    border:1px dotted blue; 
    padding: 1em; 
    margin-bottom:1em; 
    
    &:last-of-type { 
      margin-bottom: none;
    } 

    .field { 
      width:100%; 
      display:block; 
    }
    label { 
      width: 100%; 
      display:block;
    }
  }
}