// .metadata-row { 
//   button { 
//     margin-top:24px; 
//   }
// }

@mixin cross-hatch($color){ 
  background-image: 
  repeating-linear-gradient(-45deg, rgba($color, 0.95), rgba($color, 0.95) 1px, transparent, transparent 1px, transparent 3px), 
  repeating-linear-gradient(45deg, rgba(lighten($color, 10%), 0.95), rgba(lighten($color, 10%), 0.95) 1px, transparent, transparent 1px, transparent 3px);
}

.form-group { 
  padding:2rem;
}

fieldset { 
  legend { width:auto; }
  margin-bottom:1rem; 
}

.form-preview { 
  padding: 0 3rem;
}

.fields { 

  .field-preview {
    background-color: #fff;
    border:2px solid #ccc;    
    position: relative;
    padding: 1em; 
    margin-bottom:3em; 

    &:before { 
      content: "";
      display: block;
      width:100%; 
      height:100%;
      position: absolute;
      top:.5em; 
      right:.5em; 
      background-size: 8px;
      z-index:-3;
      @include cross-hatch(#ccc);
    }

    &.active { 
      border-color:$link; 
      &:before { 
        @include cross-hatch($link);
      }
    }

    &:hover { 
      border-color:$link; 
      &:before { 
        @include cross-hatch($link);
      }
    }

    .remove span{ 
      display: block;
      position: absolute;
      top: -1.5em;
      right: .5em;
      background: #C70D00;
      width: 3em;
      height: 3em;
      padding:1em;
      border-radius: 2em;
      text-align: center;
      color:#fff;
      box-shadow: 0px 0px 10px rgba(darken(#C70D00, 10%), .4);
    }

    .help { 
      display: block;
      position: absolute;
      top: -1.5em;
      right: 4em;
      background: #333;
      width: 3em;
      height: 3em;
      padding:.75em;
      border-radius: 2em;
      text-align: center;
      color:#fff;
      box-shadow: 0px 0px 10px rgba(darken(#333, 10%), .4);
      z-index:1;
    }
    
    &:last-of-type { 
      margin-bottom: none;
    } 

    .field { 
      width:100%; 
      display:block; 
    }
    label { 
      width: 100%; 
      display:block;
    }
  }
}

#control-panel { 
  $shadow-color: #ccc; 
  box-shadow: 
  -0.3em 0.3em 0 0 rgba($shadow-color,.6),
  inset -0.3em 0.3em 0 0 rgba($shadow-color,.3);
  border:2px solid #ccc;
  position:relative; 
  padding-bottom:6rem !important;
  margin-bottom:2rem;

  .save{ 
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 1rem;
    left: 0;
    border-top:2px solid #ccc;
    @include cross-hatch(#ccc);
  }
}

// .offCanvasClick { 
//   position:absolute; 
//   top:0; 
//   left:0;
//   z-index:0;
//   width:100%; 
//   height:100%;  
//   @include cross-hatch(lime);
// }

.add-field-btn { 
  background-color: lighten($color: $link, $amount: 10%);
  display:inline-block;
  border:2px solid $link;
  color:#000;
  position: relative;
  padding: .5rem; 
  text-align: center;
  margin-bottom:1rem !important;

  &:before { 
    content: "";
    display: block;
    width:100%; 
    height:100%;
    position: absolute;
    top:.5em; 
    right:.5em; 
    background-size: 8px;
    z-index:-3;
    @include cross-hatch(lighten($color: $link, $amount: 20%));
  }

  &.active, &:hover  { 
    background-color: $link;
    display:inline-block;
    border:2px solid darken($color: $link, $amount: 20%);
    color:#fff;
    &:before { 
      @include cross-hatch(darken($color: $link, $amount: 20%));
    }
  }
}