<fieldset data-controller="metadata-schema"> 
  <legend> Metadata Schemas </legend>
  <div class="mscontroller" >
    <template data-target="metadata-schema.template">
      <%= render "components/form_builder/fields/shared/metadata_fields", form: form %>
    </template>

    <div data-target='metadata-schema.metadataFeilds'>
      <%= render "components/form_builder/fields/shared/metadata_fields", form: form %>
    </div>
  </div>
</fieldset>