.login-page { 
  // background:#eee;   
  width: 100vw;
  height:100vh;
  display: block; 
  max-width: 100%;
  position: relative; 
}

.login-box { 
  background:rgba(#fff,.8); 
  border-top:.5rem solid $wvu-gold;
}

.mfcs-logo { 
  position:absolute; 
  height:400px; 
  width:400px;
  bottom: -5%;
  left: 5%;
  transform: rotate(-12deg);
  z-index: 0;
}