<h2> Welcome, <%= session['cas']['extra_attributes']['displayName'] unless session['cas'].nil? %> </h2>

<p> Welcome to the admin panel for the MFCS application. </p> <br/>

<h3> Github Development and Documentation </h3>

<div class="github-actions"> 
  <a href="https://github.com/wvulibraries/mfcs-ruby" class="github-button"> <span class="fas fa-file-alt"></span> Documentation </a>
  <a href="https://github.com/wvulibraries/mfcs-ruby/issues/new?template=bug_report.md" class="github-button bug-button"> <span class="fa fa-bug"></span> Bug Report </a>
  <a href="https://github.com/wvulibraries/mfcs-ruby/issues/new?template=feature_request.md" class="github-button feature-button"> <span class="fa fa-microchip" aria-hidden="true"></span>
 Feature Request </a>
</div>


