<!-- float div right -->
<div class="listToggles btn-group button-group pull-right">
    <a class="btn btn-primary" href="/forms/dataview/<%= @form.id %>/page/1"><span class="fa fa-list-ol"></span></a>
    <a class="btn btn-primary" href="/forms/thumbnail/<%= @form.id %>/page/1"><span class="fa fas fa-images"></span></a>
    <a class="btn btn-primary" href="/forms/shelf/<%= @form.id %>/page/1"><span class="fa fa-list"></span></a>
</div>