<template <% unless target_name.nil? %> data-target="<%= target_name %>" <% end %>>
  <div class="field-preview {{id}}" data-id="{{id}}" data-sort="{{sort}}" data-fieldtype="{{type}}" data-json='{{json}}' data-action="click->form-builder#editField">

    <a href="javascript:void(0)" class="help" data-toggle="popover" data-action="click->form-builder#popover" title="Help" data-content="{{help}} ." data-placement="left"> 
      <span class="far fa-question-circle"></span>
    </a>

    <div class="field row no-gutters"> 
      <%= render partial: template_path %>
    </div>

    <div class="remove">
      <span class="far fa-trash-alt" data-id="{{id}}" data-action="click->form-builder#removeField"></span>
    </div>
  </div>

</template>