<label for="fp_{{id}}" class="col-12 label_{{id}}"> {{label}} </label>
<select id="fp_{{id}}" class="col-12 input_{{id}}" multiple disabled>
  <option> Option 1 </option> 
  <option> Option 2 </option> 
  <option> Option 3 </option>
</select> 

<div class="alert alert-info">
  <strong>Note:</strong>
  <p> Due to the dymamic nature of this field, field options will only display correctly on data entry. </p>
</div>