<label for="fp_{{id}}" class="col-12 label_{{id}}"> {{label}} </label>
<input type="text" id="fp_{{id}}" class="col-12 input_{{id}}" value="{{value}}" placeholder="{{placeholder}}" style="{{style}}" disabled>