<label for="fp_{{id}}" class="col-12 label_{{id}}"> {{label}} </label>
<div class="preview-img"> 
   <%= image_pack_tag 'media/packs/images/interface/wysiwyg.svg', class:'wysiwyg tag', alt: 'WYSIWYG' %>
</div>