<fieldset class="textFieldSettings textareaFieldSettings idnoFieldSettings" data-controller="validation-field">
	<legend> Validations </legend>

	<div class="field"> 
		<%= label_tag :validation %>
		<span class="far fa-question-circle field-help" data-toggle="popover" data-trigger="click hover" data-content="Validation is set to happen on insertion to the form field."></span>
		<div class="select-style"> 
			<%= select_tag :validation, options_for_select(form_validation_options), prompt: 'Select Validation Type', data: { target: 'validation-field.validationSelect', action: 'change->validation-field#select' } %>
		</div>

		<div class="regex" data-target="validation-field.regexContainer"> 
			<%= label_tag :validation_regex, 'Regular Expression' %>
			<%= text_field_tag :validation_regex, nil, { data: { target: 'validation-field.regexField', action: 'keyup->validation-field#validRegex change->validation-field#validRegex' }} %>
			<div class="invalid-feedback">
        Please make sure that you use a valid regular expression.
      </div>
		</div>
	</div>
</fieldset>