
//////////////////////////////////////////////////////////////////////////////////////
// Basic Variables
//////////////////////////////////////////////////////////////////////////////////////
$font-color:#666; 
$input-bg: #eee; 
$input-border: #666;
$label-color:$font-color; 
$fieldset:#666; 
$error: $danger;
$borders: 1px solid $input-border; 
$easeOutExpo:cubic-bezier(0.19, 1, 0.22, 1); /* easeOutExpo */
$easeInOutExpo:cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

//////////////////////////////////////////////////////////////////////////////////////
// FORM RESETS
//////////////////////////////////////////////////////////////////////////////////////
input,
button,
textarea,
select {
  border-radius: 0; /* may change, but start consistently */
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: normal;
  margin: 0;
  overflow: visible; /* show overflow in Edge */
  text-transform: none; /* remove inheritance Edge, Firefox, IE */
}

input::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

legend {
  color: inherit; /* 1 */
  display: table; /* 2 */
  line-height: normal;
  max-width: 100%; /* 2 */
  white-space: normal; /* 2 */
}

h2 { 
  margin-top:0;
}


//////////////////////////////////////////////////////////////////////////////////////
// FORM PATTERNS
//////////////////////////////////////////////////////////////////////////////////////
form{
  float: left;
  display: block;
  // margin-right: 2.3576520234%;
  width: 100%;
  position:relative;
  z-index:0;

  &:last-child {
    margin-right: 0;
  }

  * { margin: 0; padding: 0px; }


  //////////////////////////////////////////////////////////////////////////////////////
  // FIELDSET
  //////////////////////////////////////////////////////////////////////////////////////
  fieldset { 
    padding:1rem; 
    border: $borders; 
    text-align: left;
    position: relative; 
    margin-top:1rem; 

    > legend { 
      padding: 0 1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $font-color;
    }
  }

  .legend { 
    width:100%; 
    display:block; 
    float:left; 
    border: $borders; 
    padding:5px 5px 5px 40px; 
    margin:20px 0;
    font-size:12px; 
    position:relative; 
    text-align:left; 

    span.required { 
      color: $error;
        font-size:4rem;
        position:absolute; 
        top:37%; 
        left:10px; 
    }
  }

  //////////////////////////////////////////////////////////////////////////////////////
  // LABELS
  //////////////////////////////////////////////////////////////////////////////////////
  label, .heading { 
    text-align:left;
    display:inline-block; 
    width:auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:$font-color;
    position: relative;
    
    &.required { 
      padding-left:1.5em;
      &:before { 
        content: "*";
        color: $error;
        font-size:2.2rem;
        position: absolute; 
        top:-7px; 
        left:0; 
        padding-left:5px;
        font-weight:100;
      }
    }
  }

  .heading { 
    text-align: left;
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:$font-color;
  }

  //////////////////////////////////////////////////////////////////////////////////////
  // BASIC INPUT
  //////////////////////////////////////////////////////////////////////////////////////
  input:not([type='submit']){
      width:100%;
      padding:.5rem;
      height:38px;  
      border:none;
      background:$input-bg;
      font-weight:200;
      letter-spacing: 1px;
      transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1), 
                  border 0.6s cubic-bezier(0.19, 1, 0.22, 1), 
                  background 0.6s cubic-bezier(0.19, 1, 0.22, 1);
      border: 2px solid darken($input-bg,10%);
      
      &:focus, &:hover { 
        border: 2px solid $link-color;
        background: lighten($input-bg,2%);
      }

      &::placeholder { 
        color:darken($input-bg,20%);
      }
  }

  input[type='file']{
    height:unset;
  }

  //////////////////////////////////////////////////////////////////////////////////////
  // TEXTAREA
  //////////////////////////////////////////////////////////////////////////////////////
  textarea{
    width:100%;
    max-width:100%;
    border:none;
    font-size:1rem; 
    line-height:1.5; 
    font-weight:500;
    letter-spacing: 1px;
    background:$input-bg;
    padding:1.25rem;
    margin-top:.5rem;
    transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1), 
                border 0.6s cubic-bezier(0.19, 1, 0.22, 1), 
                background 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    border: 2px solid darken($input-bg,10%);

    &:focus, &:hover { 
      border: 2px solid $link-color;
      background: lighten($input-bg,2%);
    }

    &::placeholder { 
      color:darken($input-bg,20%);
    }
  }

  //////////////////////////////////////////////////////////////////////////////////////
  // FEEDBACK AND VALIDATIONS
  //////////////////////////////////////////////////////////////////////////////////////
  input .is-valid, .is-valid, .valid-feedback { 
    border: 2px solid $success !important; 
    &:hover, &:focus { 
      border: 2px solid $success; 
    }
  }

  input .is-invalid, .is-invalid, .invalid-feedback { 
    border: 2px solid $error !important; 
    color: $error !important;
    &:hover, &:focus { 
      border: 2px solid $error; 
    }
  }

  div.valid-feedback, div.invalid-feedback { 
    border:unset; 
  }


  //////////////////////////////////////////////////////////////////////////////////////
  // SELECTS
  //////////////////////////////////////////////////////////////////////////////////////
  .select-style { 
    font-size:1rem; 
    padding: 0;
    margin: 0;
    height:38px; 
    border: none;
    border-radius: 0;
    overflow: hidden;
    background: #eee;
    position:relative;
    font-weight:500;
    letter-spacing: 1px;
    border: 2px solid darken($input-bg,10%);  
    transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1), 
                border 0.6s cubic-bezier(0.19, 1, 0.22, 1), 
                background 0.6s cubic-bezier(0.19, 1, 0.22, 1);

    &:focus, &:hover { 
      border: 2px solid $link-color;
      background: lighten($input-bg,2%);
    }

    &:before {
      content: "\f078";
      color:rgba( #000, .3);
      font-size: 1.2rem; 
      text-align: center;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      display:block; 
      position:absolute;
      width:2rem; 
      right:10px;
      top:calc(50% - .7rem); 
      z-index:0; 
    }
    select {
      padding:.25rem; 
      width: 100%;
      height:38px; 
      font-size:1rem;
      border: none;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      position:relative;
      z-index:2;
      color:#000;
    }
  }

  //////////////////////////////////////////////////////////////////////////////////////
  // Form Field Styles
  //////////////////////////////////////////////////////////////////////////////////////
  // .field{
  //   margin-top:1rem;
  //   clear: both; 
  //   &:first-of-type { 
  //     margin-top:0; 
  //   }
  // }

  .field_with_errors { 
    input, textarea, .select-style { 
      border: 2px solid $error;
      background: lighten($error,40%);
      &:hover, &:focus { 
        border: 2px solid $error;
        background: lighten($error,40%);
        outline: none; 
      }
    }
    label { color:$error; }
  }

} // end form

//////////////////////////////////////////////////////////////////////////////////////
// RAILS ERROR EXPLAINATION FORM
//////////////////////////////////////////////////////////////////////////////////////
#error_explanation { 
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%;
  padding:.5rem; 
  color:$error; 
  background: rgba($error, .1); 
  border: 2px solid $error; 
  margin-bottom:2rem; 
  h3 { color:$error; }
  ul { 
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 100%;
    padding:1rem;
    padding-left:2.5rem; 
  }
}

.actions { 
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%;
  padding:1rem 0;
  margin-top:1rem; 
  position:relative; 
  input { position: relative; top:-2px; }
}

//////////////////////////////////////////////////////////////////////////////////////
// Explanation Text or Microtext used in various parts of forms.
//////////////////////////////////////////////////////////////////////////////////////
.micro-text { 
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%;
  padding:1rem .5rem; 
  letter-spacing:1px; 
  font-weight:400; 
  color:#5f5f5f; 
  font-size:.75rem; 
}


//////////////////////////////////////////////////////////////////////////////////////
// CHECKBOX PATTERN - A11Y Project Styles
//////////////////////////////////////////////////////////////////////////////////////
// NOTE: THIS IS NOT MY PATTERN.  THIS CONCEPT WAS TAKEN FROM CSS BY THE A11Y PROJECT

$checkbox-color: #444;
$checkbox-border: 1px solid $checkbox-color;
$checkbox-box-shadow: 0 0 0 px $checkbox-color;

$check-hover-color: lighten(#002855,10%);
$checkbox-border-hover: 1px solid $check-hover-color;
$checkbox-box-shadow-hover: 0 0 0 2px $check-hover-color;


.checkbox-wrapper { 
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%;
}

.checkbox {
  // padding: 2rem;
  position: relative;
  // width:100%;

  // @media (min-width: 768px) {
  //   max-width:50%;
  // }

  &:focus-within {
    border: 2px dotted $check-hover-color;
  }

  .field-help { 
    position: absolute;
    z-index: 9999;
    top: 3px;
    right: 20px;
  }

  // children of the checkbox class only
  > {
    // label
    label {
      display: inline-block;
      padding: 0 0 0 2rem;
      vertical-align: top;
      width: auto;
      padding-left:2rem;

      &:before, &:after {
        border: 1px solid;
        content: " ";
        position: absolute;
        transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out, transform .2s ease-in-out;
      }

      &:before {
        border: $checkbox-border;
        border-radius: 1px;
        box-shadow: $checkbox-box-shadow;
        height: 1.125rem;
        left: .125rem;
        top: .25rem;
        width: 1.125rem;
      }

      &:after {
        border: 0;
        border-bottom: 2px solid $checkbox-color;
        border-right: 2px solid $checkbox-color;
        height: .825rem;
        left: .425rem;
        top: .25rem;
        transform-origin: center center;
        transform: rotate(45deg) scale(0);
        width: .5rem;
      }
    }

    // input
    input[type="checkbox"] {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      opacity: .00001;
      position: absolute;
      vertical-align: top;
      z-index: 2;
    }

    input {
      &:checked ~ label:before {
        border-color: transparent;
        box-shadow: $checkbox-box-shadow-hover;
      }

      &:focus ~ label:before {
        border-color: transparent;
        box-shadow: $checkbox-box-shadow-hover;
        outline-offset: 2px;
        outline: 2px solid transparent;
      }

      &:focus + label {
        border-color: transparent;
        //box-shadow: $checkbox-box-shadow-hover;
      }

      &:checked {
        ~ label:after {
          transform: rotate(45deg) scale(1);
        }
        &:focus ~ label:after {
          border-color: $check-hover-color;
        }
      }

      &[disabled] ~ label {
        opacity: .625;
      }
      
      &:invalid {
        ~ label:before {
          border-color: #f00;
          box-shadow: 0 0 0 1px #f00;
        }
        &:focus ~ label:before {
          box-shadow: 0 0 0 2px #f00;
        }
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////
// RADIO BUTTON PATTERN - A11Y Project Styles
//////////////////////////////////////////////////////////////////////////////////////
// NOTE: THIS IS NOT MY PATTERN.  THIS CONCEPT WAS TAKEN FROM CSS BY THE A11Y PROJECT

$radio-color: #444;
$radio-border: 1px solid $radio-color;
$radio-box-shadow: 0 0 0 2px $radio-color;

$radio-hover-color: lighten(#002855,10%);
$radio-border-hover: 1px solid $radio-hover-color;
$radio-box-shadow-hover: 0 0 0 2px $radio-hover-color;

.radiobutton {
  max-width:100%;

  @media (min-width: 768px) {
    max-width:50%;
  }

  &:focus-within {
    border: 2px dotted $radio-hover-color;
  }
}

.radio-group {
  position: relative;
  display: inline-block;

  > {

    input[type="radio"] {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background: none;
      opacity: .00001;
      z-index: 2;
      border: 1px solid;
      height: 1.125rem;
      left: .125rem;
      position: absolute;
      top: 1rem;
      width: 1.125rem;
      border-radius: 100%;
      content: " ";
      transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    }

    label {
      display: inline-block;
      padding: .75rem .5rem .75rem 2rem;

      &:before, &:after {
        border: 1px solid;
        height: 1.125rem;
        left: .125rem;
        position: absolute;
        top: 1rem;
        width: 1.125rem;
      }

      &:before {
        border-radius: 100%;
        content: " ";
        transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
        border-color: transparent;
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
      }

      &:after {
        border-radius: 100%;
        content: " ";
        transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
        border-color: $radio-color;
      }
    }

    input {
      &:checked ~ label:before {
        border-color: transparent;
        box-shadow: $radio-box-shadow-hover;
      }
      &:focus ~ label:before {
        border-color: transparent;
        box-shadow: $radio-box-shadow-hover;
      }
      &:checked ~ label:after {
        border-color: #fff;
        border-width: 1px;
        box-shadow: inset 0 0 0 4px $radio-hover-color;
      }
      &:focus ~ label {
        color: $radio-hover-color;
      }
      &[disabled] ~ label {
        opacity: .5;
      }
    }

  } // end child
} // end radio-group

@media screen and (-ms-high-contrast: active) {
  .radio-group > input:checked ~ label:before {
    background: window;
    border: 6px solid buttonface;
    box-shadow: none;
  }
}