main { 
  padding: .625rem; 
}

.homepage-wrapper { 
  padding: 0; 
}

.hide { 
  display: none; 
}

.show { 
  display: block;
}

ul, ol, dl { 
  padding-left:2rem; 
}

nav, menu { 
  ul, ol, dl { padding-left:unset; }
}