<section>
    <div>
        <h2> Drive Space Information </h2>
        <p>
            <strong class="">Data Folder Usage: </strong>
            <span class=""><%= @data_folder_usage %></span>
        </p>
        <p>
            <strong class="">Drive Size: </strong>
            <span class=""><%= @total_space %></span>
        </p>  
        <p>
            <strong class="">Used Space: </strong>
            <span class=""><%= @gb_used %></span>
        </p>               
        <p>
            <strong class="">Free Space: </strong>
            <span class=""><%= @gb_available %></span>
        </p>       
    </div>
</section>