<section>
    <div>
        <h2> File Types Total Counts </h2>
        <p>
            <strong class="fileItem">tif: </strong>
            <span class="fileCount"><%= @tif_count %></span>
        </p>        
    </div>
</section>