<section>
    <div>
        <h2> Media Objects Information </h2>
        <p>
            <strong class="">Archive file count: </strong>
            <span class=""><%= @archive_count %></span>
        </p>
        <p>
            <strong class="">Working file count: </strong>
            <span class=""><%= @working_count %></span>
        </p>  
        <p>
            <strong class="">Thumbnail file count: </strong>
            <span class=""><%= @thumbnail_count %></span>
        </p>               
        <p>
            <strong class="">Conversion file count: </strong>
            <span class=""><%= @conversion_count %></span>
        </p>       
    </div>
</section>