// Data Entry
// =============================================================================
.menu {
    list-style:none;
    margin:0;
    padding:0;
    // li { padding:10px 0 0 10px; border-bottom:1px solid darken($light-gray,5%); float:left; display:block; width:100%; }
    // ul li:last-child{ border-bottom:0;}
    // ul { padding:0; margin:0;}
    // ul li { margin-bottom:0; border-bottom:1px solid #eee;}
    // a {display:block; }
  }