// .metadata-row { 
//   button { 
//     margin-top:24px; 
//   }
// }

@mixin cross-hatch($color){ 
  background-image: 
  repeating-linear-gradient(-45deg, rgba($color, 0.95), rgba($color, 0.95) 1px, transparent, transparent 1px, transparent 3px), 
  repeating-linear-gradient(45deg, rgba(lighten($color, 10%), 0.95), rgba(lighten($color, 10%), 0.95) 1px, transparent, transparent 1px, transparent 3px);
}

.form-group { 
  padding:2rem;
}

fieldset { 
  legend { width:auto; }
  margin-bottom:1rem; 
}

.form-preview { 
  padding: 0 0 0 3rem;
}

.description { 
  margin: 1rem 0 3rem;
  font-size: 1.25rem; 
  word-wrap: break-word;
}

.title { 
  font-size: 1.5rem; 
}

.fields { 

  padding-bottom:1em; 

  .field-preview {
    background-color: #fff;
    border:2px solid #ccc;    
    position: relative;
    padding: 1em; 
    margin-bottom:3em; 
    cursor: move; 
    width:calc(100% - 2em);

    &:first-child { 
      .sort-up { cursor:block; opacity:.2; }
    }

    &:last-child { 
      .sort-down { cursor:block; opacity:.2; }
    }

    &:before { 
      content: "";
      display: block;
      width:100%; 
      height:100%;
      position: absolute;
      top:.5em; 
      right:.5em; 
      background-size: 8px;
      z-index:-3;
      @include cross-hatch(#ccc);
    }

    &.active { 
      border-color:$link; 
      &:before { 
        @include cross-hatch($link);
      }
    }

    &:hover { 
      border-color:$link;
      &:before { 
        @include cross-hatch($link);
      }
    }

    * { 
      pointer-events: none;
    }

    .remove span{ 
      pointer-events: all;
      display: block;
      position: absolute;
      top: -1.5em;
      right: .5em;
      background: #C70D00;
      width: 3em;
      height: 3em;
      padding:1em;
      border-radius: 2em;
      text-align: center;
      color:#fff;
      box-shadow: 0px 0px 10px rgba(darken(#C70D00, 10%), .4);
    }

    .sort-buttons { 
      display:block;
      height:100%;
      width:0; 
      top:0; right:0;  
      position: absolute; 
      font-size: 2em;
      cursor: pointer;

      .sort-up, .sort-down { 
        pointer-events: all;
        position:absolute;
        top: calc(50% - 1em);
        right: -1.5em; 
        color:$link; 
        &:hover, &:active, &:focus { 
          color: darken($link,10%);
        }
      }
      
      .sort-down { 
        bottom: calc(50% - 1.5em); 
        top:unset;
        right: -1.5em; 
      }
    }

    .help { 
      pointer-events: all;
      display: block;
      position: absolute;
      top: -1.5em;
      right: 4em;
      background: #333;
      width: 3em;
      height: 3em;
      padding:.75em;
      border-radius: 2em;
      text-align: center;
      color:#fff;
      box-shadow: 0px 0px 10px rgba(darken(#333, 10%), .4);
      z-index:1;
    }
    
    &:last-of-type { 
      margin-bottom: none;
    } 

    .field { 
      width:100%; 
      display:block; 
    }
    label { 
      width: 100%; 
      display:block;
    }
  }
}

#control-panel { 
  $shadow-color: #ccc; 
  box-shadow: 
  -0.3em 0.3em 0 0 rgba($shadow-color,.6),
  inset -0.3em 0.3em 0 0 rgba($shadow-color,.3);
  border:2px solid #ccc;
  position:relative; 
  padding-bottom:6rem !important;
  margin-bottom:2rem;

  .save{ 
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 1rem;
    left: 0;
    border-top:2px solid #ccc;
    @include cross-hatch(#ccc);
  }
}

// .offCanvasClick { 
//   position:absolute; 
//   top:0; 
//   left:0;
//   z-index:0;
//   width:100%; 
//   height:100%;  
//   @include cross-hatch(lime);
// }

.add-field-btn { 
  background-color: lighten($color: $link, $amount: 10%);
  display:inline-block;
  border:2px solid $link;
  color:#000;
  position: relative;
  padding: .5rem; 
  text-align: center;
  margin-bottom:1rem !important;

  &:before { 
    content: "";
    display: block;
    width:100%; 
    height:100%;
    position: absolute;
    top:.5em; 
    right:.5em; 
    background-size: 8px;
    z-index:-3;
    @include cross-hatch(lighten($color: $link, $amount: 20%));
  }

  &.active, &:hover  { 
    background-color: $link;
    display:inline-block;
    border:2px solid darken($color: $link, $amount: 20%);
    color:#fff;
    &:before { 
      @include cross-hatch(darken($color: $link, $amount: 20%));
    }
  }
}

$collision-border: 10px solid rgba($link, .8) !important; 
.collision-border-top {
  border-top: $collision-border; 
} 

.collision-border-bottom {
  border-bottom: $collision-border; 
} 

.fileFieldSettings { 
  .heading { 
    font-weight: bolder;
    font-size:1.2rem; 
    margin-bottom:.5rem; 
  }
  // needs unset in the wrapper so that it can wrap.
  .checkbox-wrapper { 
    margin-right: unset; 
    padding-left: 2rem;
  }

  .row { 
    margin-bottom:1rem; 
  }
}

