<h1> Form Creator </h1>


<!-- ============================================================================= -->
<!-- Control Panel =============================================================== -->
<!-- ============================================================================= -->
<div class="form-control-panel">
  <div class="menu"> 
    <ul>
      <li> Add A Feild </li>
      <li> Field Settings </li>
      <li> Form Settings </li>
    </ul>
  </div>

  <div class="form-container"> 
    <%= render 'form_builder', form_builder: @form %>
  </div>
</div>

<!-- ============================================================================= -->
<!-- Form Preview ================================================================ -->
<!-- ============================================================================= -->
<div class="form-preview"> </div>


