<h2>Create Metadata <span class="decorative-text"> <%= @form.display_title %> </span></h2>

<div class="row justify-content-start" data-controller="form-validations">
  <%= form_with model: @item, url: "/items/metadata", class: 'col-xs-12 col-md-10 mx-auto mb-2', method: "post", data: {remote: false}, multipart: true do  |f| %>
    <%# FORM         ==================================== %>
    <%= render 'form', f: f, form_type: 'create' %>
    <%# END FORM     ==================================== %>
  <% end %>
</div>