<header> 
  <div class="site-title"> 
    <%= image_pack_tag 'media/packs/images/mfcs_logo.svg', class:'header-logo', alt: 'logo character for mfcs' %> 
    <a href="/" title="Metadata Form Creation System"> MFCS </a> 
  </div>
  <div class="buttons"> 
    <button id="selected-projects"> 
      <%= image_pack_tag 'media/packs/images/interface/folder.svg', class:'project-icon', alt: 'decorative folder icon' %> 
      Selected Projects 
    </button>
    <button id="menu-button"> 
      <%= image_pack_tag 'media/packs/images/interface/menu.svg', class:'menu-icon', alt: 'decorative menu icon' %> 
      Menu 
    </button>
  </div>
</header>
