<div class="tab-pane" id="publicUrls">
    <h2>Public Urls &amp; OAI</h2>
    <p>Note: If the public URL has not been registered with MFCS yet, the first item may be blank.</p>
    <ul>
        <li><a href=""></a></li>
        <li><a href="https://oai.lib.wvu.edu/oai/?verb=GetRecord&amp;identifier=<%= @item.identifier %>&amp;metadataPrefix=oai_dc">OAI</a></li>
    </ul>
    <p>OAI Record:</p>
    <pre>OAI Record not available in OAI Application</pre>
</div>