<h1>Editing Items Digital Object</h1>

<%= render 'form', items_digital_object: @items_digital_object %>

<%= link_to 'Show', @items_digital_object %> |
<%= link_to 'Back', items_digital_objects_path %>
