<div class="container-fluid">
  <h2> View Digital Object</h2>
  <div class="row">
    <div class="col-md-3" id="show-menu">
      <%= render 'object_navigation' %>
    </div>

    <div class="col-md-9" id="show-tabs">
      <%= render 'tab_content' %>
    </div>
  </div>
</div>