<h3>View Digital Object - <%= @form.display_title %></h3>
<br>
<div class="row">
  <div class="col-md-3" id="show-menu">
    <h4> Object Navigation </h4>
    <%= render 'object_navigation' %>
  </div>

  <div class="col-md-9" id="show-tabs">
    <%= render 'tab_content' %>
  </div>
</div>